/** Global variables */
:root {
    --secondary-color: #15857f;
    --body-bg: #eeeeee;
    --header-bg: #131313;
    --footer-bg: #222222;
    --site-title-color: #ffffff;
    --font-color-bright: #ffffff;
    --font-color: #eeeeee;
    --font-color-dark: #222222;
    --font-family-primary: 'Roboto', Helvetica, Arial, sans-serif;
    --font-family-secondary: 'Open Sans', Helvetica, Arial, sans-serif;
}

/** Global Style */
body {
    font-family: var(--font-family-primary);
    background-color: var(--body-bg);
    color: var(--font-color-dark);
}

h1, h2, h3, h4, h5, h6, .site-title {
    font-family: var(--font-family-secondary);
}

a {
    text-decoration: none;
    transition: color 0.25s;
}

a:hover {
    color: var(--secondary-color);
}

.site-header {
    padding: 0.125rem;
    background: linear-gradient(-45deg, var(--secondary-color), var(--secondary-color) 50%, #000 20px, #000 40px);
}

.site-title {
    display: flex;
    height: 100%;
    align-items: center;
}

.site-title a {
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 1px;
    color: var(--site-title-color);
}

.site-title a:hover {
    color: var(--secondary-color);
}

.site-title .site-subtitle {
    color: var(--site-title-color);
    font-weight: 400;
    letter-spacing: 0;
    font-size: 0.75rem;
}

.nav-head {
    padding-right: 4em;
}

.navbar .nav-link {
    margin-right: 2px;
    font-weight: 600;
    color: var(--font-color-bright);
    font-family: var(--font-family-secondary);
    cursor: pointer;
}

.navbar .nav-link.active {
    color: var(--font-color-dark);
    background-color: var(--font-color);
    border-radius: 4px;
}

.nav-head .nav-link:hover {
    color: var(--font-color-dark);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}

.nav-head .nav-link.active:hover {
    color: var(--secondary-color);
    background-color: var(--font-color);
}

.navbar-toggler {
    color: #ffffff;
    border-color: #ffffff;
}

.site-mobile-navbar {
    background-color: var(--secondary-color);
}

.site-mobile-navbar .container-lg {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}

.navbar-collapse .nav-link {
    font-weight: 600;
    color: var(--font-color-dark);
    font-family: var(--font-family-secondary);
    cursor: pointer;

    text-align: center;
    background-color: rgba(255,255,255,0.75);
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.navbar-collapse .nav-link:hover {
    color: var(--font-color-dark);
    background-color: rgba(255,255,255,1);
}

.site-back {
    margin-top: 1rem;
    display: none;
}

.site-back .nav-link {
    font-weight: 600;
    color: var(--font-color);
    font-family: var(--font-family-secondary);
    cursor: pointer;

    text-align: center;
    background-color: var(--font-color-dark);
    border-radius: 4px;
}

.site-back .nav-link:hover {
    color: var(--secondary-color);
}

.site-body {
    min-height: 80vh;
    position: relative;
}

@keyframes loading_fade_in {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes loading_fade_out {
    from {opacity: 1}
    to {opacity: 0}
}

#inner_body_loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--body-bg);
}

.inner-body-loading-icon {
    width: 50px;
    height: 50px;
    background-image: url("../assets/img/loading.svg");
    background-size: cover;
}

.content-section {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
}

.content-section h2 {
    text-align: center;
    border-bottom: 4px solid var(--secondary-color);
    line-height: 1.5;
}

.content-text p {
    /*text-align: justify;*/
}

.content-text-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.content-text-section-small {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.content-text li {
    padding-bottom: 0.25rem;
}

.content-end {
    padding-bottom: 2rem;
}

.content-info {
    color: var(--font-color);
    background-color: var(--secondary-color);
    padding: 1rem;
    border-radius: 4px;
}

.content-image-text {
    opacity: 85%;
    width: 100%;
    text-align: center;
}

.site-footer {
    padding: 1.875rem 0;
    background-color: var(--footer-bg);
    color: var(--font-color-bright);
    text-align: center;
}

.site-footer-col {
    margin-top: 0.75rem;
}

.contact-icon {
    color: var(--font-color);
    margin: 0 0.5rem;
}

.contact-icon:hover {
    color: var(--secondary-color);
}

/** Global Media Queries */

/** Style for tablets and lager */
@media (min-width: 768px) {
    .mobile-only {
        display: none;
    }
    .site-header {
        padding: 0.8125rem;
    }
    .site-title {
        display: block;
        align-items: normal;
    }
    .site-title a {
        font-size: 1.25rem;
    }
    .site-title .site-subtitle {
        font-size: 1rem;
    }
    .site-footer-col {
        margin-top: 0;
    }
    .site-back {
        z-index: 555;
        position: absolute;
        margin-top: 2.25rem;
    }
}

/** Only used for desktop only style class */
@media (max-width: 768px) {
    .desktop-only {
        display: none;
    }
}

/** Style for desktop and lager */
@media (min-width: 1200px) {
    .site-header {
        padding: 1.5625rem;
    }
    .site-title a {
        font-size: 30px;
    }
    .site-title .site-subtitle {
        font-size: 20px;
    }
    .site-footer-col {
        margin-top: 0;
    }
}